.comments{
    width: 100%;
    height: auto;
    border-radius: 5px;

    .top{
        width: 95%;
        height: 40px;
        margin: 30px auto;
        padding-top: 10px;
        font-size: 15px;
        line-height: 40px;
        font-weight: bold;

        .icon{
            vertical-align: -5px;
        }
    }
    .pl{
        width: 95%;
        height: auto;
        margin: auto;
        display: flex;

        .form{
            width: 100%;
            align-items: center;
            display: flex;
            flex-wrap: wrap;

            .avatar{
                flex: 0 0 4%;
                height: 40px;
                border-radius: 25%;
                display: flex;
                align-items: center;

                & img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .inputs{
                flex: 1;
                display: flex;
                justify-content: space-between;

                & input{
                    flex: 1;
                    height: 35px;
                    border-radius: 5px;
                    padding-left: 8px;
                    margin-left: 8px;
                    border: 1px solid lightgray;
                }
                & input:focus {
                    outline: none;
                    border: 1px solid #2196F3;
                    box-shadow: 0 0 8px #2196F3;
                }
            }
            .btn {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 20px auto;
                padding: 0;

                & textarea{
                    width: 100%;
                    height: 80px;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    padding-left: 8px;
                    padding-top: 8px;
                    border: 1px solid lightgray;
                }
                & textarea:focus {
                    outline: none;
                    border: 1px solid #2196F3;
                    box-shadow: 0 0 8px #2196F3;
                }
                & button{
                    width: 90px;
                    height: 35px;
                    border-radius: 5px;
                    border: 0;
                    background-color: #2F88FF;
                    color: white;
                    font-size: 14px;
                    font-weight: bold;
                    margin-top: 5px;
                    margin-left: auto;
                }
            }
            .btn button:hover{
                background-color: #076cd5;
            }
        }
    }
    .show{
        width: 95%;
        height: auto;
        margin: auto;

        .showAll{
            display: flex;
            flex-wrap: wrap;
            /*background-color: #5bc0de;*/

            .avatar{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                /*background-color: #5bc0de;*/
                display: flex;
                align-items: center;

                & img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .contact{
                width: 90%;
                height: 50px;
                margin-left: 10px;
                /*background-color: #4cae4c;*/

                .nickname{
                    width: auto;
                    height: 30px;
                    line-height: 30px;
                    font-size: 16px;
                    color: #2F88FF;
                    /*background-color: #4cae4c;*/
                    display: flex;

                    .img{
                        width: auto;
                        height: 30px;
                        margin-left: 20px;
                        & img{
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                }
                .date{
                    width: auto;
                    height: 20px;
                    line-height: 20px;
                    font-size: 13px;
                    /*background-color: #5bc0de;*/
                }
            }
            .textarea{
                width: 90%;
                margin-left: 60px;
                height: auto;
                /*background-color: #F4F6FB;*/
                border-radius: 5px;
                margin-bottom: 20px;
                padding: 10px;
                color: #000;
            }
        }
    }
}