.wrap {
    position: relative;
    font-family: YouYuan, serif;
    display: flex;
    flex-direction: column;

    .wrap-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(assets/bac.jpg) no-repeat fixed center center;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-blend-mode: multiply;
        z-index: 0;
    };
    .wrap-mask {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0.8;
        width: 100%;
        height: 100%;
    }
}